---
import ContactMeForm from '@/components/page-sections/ContactMeForm.svelte';
import BaseLayout from '@/layouts/BaseLayout.astro';
import {
  FormspreeId,
  SiteName,
  SocialLinks,
  type SocialLink,
} from '@/utils/Constants.astro';
---

<BaseLayout
  title=`Contact Me | ${SiteName}`
  description="Get in touch with me for any inquiries or collaborations."
>
  <section id="social" class="on-social flex-layout column gap gap-lg">
    <h3>Find me on:</h3>

    <ul class="grid-layout three-cols gap">
      {
        Object.values(SocialLinks).map((link: SocialLink) => (
          <li>
            <a
              class="social-link"
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={link.label}
            >
              {<link.icon />}
              <span>{link.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="form" class="contact-form flex-layout column gap gap-lg">
    <h3>Send me a message:</h3>
    <ContactMeForm formId={FormspreeId} client:load />
  </section>
</BaseLayout>

<style>
  .on-social {
    margin: var(--space-xl) 0;

    .social-link {
      height: 100%;
      padding: var(--space-md);
      display: flex;
      align-items: center;
      gap: var(--space-md);
      font-size: var(--font-size-h5);
      border: var(--stroke-width-thin) solid var(--border-color);

      svg {
        width: 1em;
        height: 1em;
        aspect-ratio: 1;
        fill: currentColor;
      }
    }
  }

  .contact-form {
    margin-block-end: var(--space-2xl);

    h3 {
      margin-block-start: var(--space-md);
      margin-block-end: var(--space-md);
    }
  }
</style>
