---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ICONS } from "@/utils/Constants.astro";
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
  class?: string;
}

const { title = "Ahmed Alshair", description, class: className } = Astro.props;
let sortedIcons = ICONS.sort().join(",");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href=`https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=${sortedIcons}`
      rel="stylesheet"
    />
    <script is:inline>
      const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.setAttribute("data-theme", theme);
    </script>
  </head>

  <body id="root" class={className}>
    <Header />
    <main class="container padded flex-layout column">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
    min-height: 100%;
  }
</style>
